# flyctl launch added from .gitignore
# Byte-compiled / optimized / DLL files
**/__pycache__
**/*.py[cod]
**/*$py.class

# C extensions
**/*.so

# Distribution / packaging
**/.Python
**/build
**/develop-eggs
**/dist
**/downloads
**/eggs
**/.eggs
**/parts
**/sdist
**/var
**/wheels
**/pip-wheel-metadata
**/share/python-wheels
**/*.egg-info
**/.installed.cfg
**/*.egg
**/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
**/*.manifest
**/*.spec

# Installer logs
**/pip-log.txt
**/pip-delete-this-directory.txt

# Unit test / coverage reports
**/htmlcov
**/.tox
**/.nox
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/*.py,cover
**/.hypothesis
**/.pytest_cache
**/pytestdebug.log

# Translations
**/*.mo
**/*.pot

# Django stuff:
**/*.log
**/local_settings.py
**/db.sqlite3
**/db.sqlite3-journal

# Flask stuff:
**/instance
**/.webassets-cache

# Scrapy stuff:
**/.scrapy

# Sphinx documentation
**/docs/_build
**/doc/_build

# PyBuilder
**/target

# Jupyter Notebook
**/.ipynb_checkpoints

# IPython
**/profile_default
**/ipython_config.py

# pyenv
**/.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#poetry.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
**/__pypackages__

# Celery stuff
**/celerybeat-schedule
**/celerybeat.pid

# SageMath parsed files
**/*.sage.py

# Environments
# .env
#**/.env
**/.venv
**/env
**/venv
**/ENV
**/env.bak
**/venv.bak
**/pythonenv*

# Spyder project settings
**/.spyderproject
**/.spyproject

# Rope project settings
**/.ropeproject

# mkdocs documentation
site

# mypy
**/.mypy_cache
**/.dmypy.json
**/dmypy.json

# Pyre type checker
**/.pyre

# pytype static type analyzer
**/.pytype

# operating system-related files
# file properties cache/storage on macOS
**/*.DS_Store
# thumbnail cache on Windows
**/Thumbs.db

# profiling data
**/.prof

**/.vscode

**/requirements.txt

# flyctl launch added from .pytest_cache/.gitignore
# Created by pytest automatically.
.pytest_cache/**/*

# flyctl launch added from .venv/.gitignore
# created by virtualenv automatically
.venv/**/*

# flyctl launch added from AzureFunctions/.gitignore
AzureFunctions/**/bin
AzureFunctions/**/obj
AzureFunctions/**/csx
AzureFunctions/**/.vs
AzureFunctions/**/edge
AzureFunctions/**/Publish

AzureFunctions/**/*.user
AzureFunctions/**/*.suo
AzureFunctions/**/*.cscfg
AzureFunctions/**/*.Cache
AzureFunctions/**/project.lock.json

AzureFunctions/packages
AzureFunctions/TestResults

AzureFunctions/tools/NuGet.exe
AzureFunctions/App_Data
AzureFunctions/secrets
AzureFunctions/data
AzureFunctions/**/.secrets
AzureFunctions/**/appsettings.json
AzureFunctions/**/local.settings.json

AzureFunctions/**/node_modules
AzureFunctions/**/dist

# Local python packages
AzureFunctions/**/.python_packages

# Python Environments
AzureFunctions/**/.env
AzureFunctions/**/.venv
AzureFunctions/**/env
AzureFunctions/**/venv
AzureFunctions/**/ENV
AzureFunctions/**/env.bak
AzureFunctions/**/venv.bak

# Byte-compiled / optimized / DLL files
AzureFunctions/**/__pycache__
AzureFunctions/**/*.py[cod]
AzureFunctions/**/*$py.class

# Azurite artifacts
AzureFunctions/**/__blobstorage__
AzureFunctions/**/__queuestorage__
AzureFunctions/**/__azurite_db*__.json

AzureFunctions/**/requirements.txt

# flyctl launch added from AzureFunctions/.pytest_cache/.gitignore
# Created by pytest automatically.
AzureFunctions/.pytest_cache/**/*

# flyctl launch added from AzureFunctions/.venv/.gitignore
# created by virtualenv automatically
AzureFunctions/.venv/**/*
